#header{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url("../image/exp.jpg");
    
    
}
nav{
    
    margin-bottom: 2%;
    

}
#header a{
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:larger;
    margin-right:1em;
    color:honeydew

    
}
#header a:hover{
    color:cyan;
}
#main a{
    color:blue;
}
#main a:hover{
    color: rgb(247, 127, 229)
}


.hello h1{
        font-family:serif;
        font-weight:bolder;
        font-size:x-large;
        display:inline;
        color:honeydew;
        position:relative;
        top:-45px;
        margin-left: 2em;
    }
.hello img{
        height:100px;
        width:100px;
        border-radius:50%;
    }


    #im1{
        height:50px;
        width:50px;
        border-radius: 50%;
    }
    #im2{
        height:80px;
        width:100px;
        border-radius: 50%;
    }
    main h1{
        margin-top: 100px;
        margin-left: 300px;
        font-weight: bolder;
        font-size: xx-large;
        color: rgb(247, 127, 229)
    }
    main h2{
        color: rgb(247, 127, 229)
    }

    #main{
        display: flex;
        flex-direction: column;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 93vh;
        background-image: url(../image/b1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    
    
    
    
.info{
        margin-left: 80px;
        padding-left: 350px;
    }
    

    #footer{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding: 20px;
        align-items: center;
        background-image: url(../image/exp.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        }
        #footer a{
            color: white;
            font-size: larger;
            text-decoration-line: none;
            font-family:'Courier New', Courier, monospace;
            
        }
        #footer a:hover{
            color:rgb(179, 255, 0);
        }
        #footer p{
            color: rgba(255, 255, 255, 0.864);
        }